page-listasitios {
  /*
  ion-item {
    min-height: 20%;
  }
  */

  .wrapper-item {
    width: 100%;
  }

  .texto {
    margin-left: 20%;
  }

  .divImg {
    position: absolute;
    width: 20%;
    padding-top: 15%;
    padding-bottom: 15%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .divImg img {
    width: 100%;
    height: 100%;
  }
}
