page-listasitios {
  /*
  ion-item {
    min-height: 20%;
  }
  */

  img {
    height: 60px;
  }

  .texto {
    margin-left: 10%;
  }

  #im {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
